/* Tags */

body {
  background-color: seashell;
}

button {
  max-height: 21.5px;
}

button:disabled {
  color: gray !important;
}

h1 {
  font-family: Palatino;
}

input:disabled {
  background-color: #f0f0f0;
  color: #a1a1a1;
  cursor: not-allowed;
}

/* Ids */

#controls-section {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

#left-controls {
  display: flex;
  gap: 4px;
}

#reset-button {
  color: black;
  min-width: 85px;
}

#start-button {
  color: red;
  min-width: 105px;
}

#text-input {
  width: stretch;
}

#text-to-read {
  font-family: Palatino;
  white-space: pre-wrap;
}

#unburn-button {
  min-width: 130px;
  color: green;
}

#wpm-input {
  max-width: 50px;
}
