body {
  background-color: seashell;
}

h1 {
  font-family: Palatino;
}

button {
  max-height: 21.5px;
}

button:disabled {
  color: gray !important;
}

#start-button {
  color: red;
  min-width: 105px;
}

#unburn-button {
  min-width: 130px;
}

#text-to-read {
  font-family: Palatino;
  white-space: pre-wrap;
}

#animation-button {
  min-width: 105px;
}

#text-input {
  width: stretch;
}

input:disabled {
  background-color: #f0f0f0;
  color: #a1a1a1;
  cursor: not-allowed;
}
